#container-dt {
    max-height: 820px;
    overflow: auto;
    table {
        thead tr:nth-child(1) th {
            background: white;
            position: sticky;
            top: 0;
            z-index: 10;
        }
        max-height: 400px;
        overflow: auto;
        color: black;
        tbody tr {
            height: 50px;
        }
    }
}

.result {
    transition: transform .2s;
    &:hover {
        border: 1.5px solid black !important;
        transform: scale(1.025);
    }
}

.selected {
    transform: scale(1.025);
    border: 2px solid black !important;
}