<div class="container">

    <div class="row">
        <div class="col-4 mr-4 ml-4">
            <div class="title-table">Selected compounds</div>
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left"><strong>enalapril</strong></td>
                    </tr>
                    <tr>
                        <td class="text-left text-capitalize"><strong>parazetamol</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <div class="title-table">Selected models</div>
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td class="text-left text-capitalize" data-toggle="tooltip" data-placement="left"><strong>PXR</strong></td>
                    </tr>
                    <tr>
                        <td class="text-left text-capitalize"><strong>BSEP</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>