<div id="models_selected" *ngIf="this.model.listModelsSelected.length">
    <div class="card-header">
        <h5>Current selection</h5>
    </div>
    <table class="table table-hover" style="width: 100%">
        <tbody>
            <tr *ngFor="let model of this.model.listModelsSelected">
                <td class="text-center">{{model.name}} v.{{model.version}} </td>
                <td class="text-center"><i class="fas" [ngClass]="{'fa-grip-lines':!model.quantitative, 'fa-circle': model.quantitative}" aria-hidden="true"></i></td>
                <td class="text-center">{{model.type}}</td>
                <td style="width: 50%;" class="text-center">{{model.endpoint}}</td>
            </tr>
        </tbody>
    </table>
</div>