$color1: #0076a3;
$color2: #e59300;
a {
    color: $color1;
    font-size: 1.2rem;
    &.active {
        color: #22577A !important;
        font-weight: bold;
        font-size: 1.2rem;
        border: 5px solid transparent !important;
        border-bottom-color: $color2 !important;
    }
}