$color1: #0076a3;
$color2: #e59300;
.title {
    background: whitesmoke;
    border: 2px solid transparent;
    border-bottom-color: $color1;
    color: #22577A;
    font-weight: bold;
}

.selected-list {
    width: 97%;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    height: 250px;
    overflow: auto;
    background-color: #F5F5F5;
}

a {
    color: $color1;
    font-size: 1.2rem;
    &.active {
        color: #22577A !important;
        font-weight: bold;
        font-size: 1.2rem;
        border: 5px solid transparent !important;
        border-bottom-color: $color2 !important;
    }
}