@import '../../assets/scss/colors.scss';
ul li.nav-item a {
    background: white;
    color: $color1;
    font-size: 1.2rem;
    &.active {
        background: white;
        color: #22577A;
        font-weight: bold;
        font-size: 1.2rem;
        border-bottom: 4px solid $color2;
        border-radius: 0;
    }
}