<div class="ml-4 mt-3">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a (click)="currentTab($event)" class="nav-link active" id="sdfile-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">SDF File</a>
            <a (click)="currentTab($event)" class="nav-link" id="sketch-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Sketch</a>
            <a (click)="currentTab($event)" class="nav-link" id="other-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Other</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <!-- input file -->
            <div class="input-file">
                <h5 class="p-2 title">
                    Input File
                </h5>
                <div class="form-group mt-2">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" onchange="this.nextElementSibling.innerText = this.files[0].name" (change)="change($event)">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        <small *ngIf='this.model.input_type != "data"' class="text-muted">Enter a SDFile format input file.</small>
                        <small *ngIf='this.model.input_type == "data"' class="text-muted">Enter a TSV format input file.</small>
                    </div>
                </div>
            </div>
            <!-- input list -->
            <div class="mt-4 input-list">
                <h5 class="p-2 title">
                    Input List
                </h5>
                <div class="selected-list mt-2">
                    <div *ngFor="let mol of listNameMols">
                        <span class="pl-1">{{mol | titlecase}}</span>
                    </div>
                </div>

            </div>
            <div class="mt-4 align-self-end">
                <button [disabled]="!isValidSDFile" (click)="Save()" type="button" class="btn btn-primary float-right">Save</button>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <!-- sketch -->
            <app-sketch-structure></app-sketch-structure>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <!-- queryApp  -->
        </div>
    </div>
</div>