<div class="float-left">
    <button (click)="select_prediction()" [ngClass]="{disabled: !this.isValidCompound || this.model.listModelsSelected.length < 2}" class="btn btn-ets-do">Predict</button>
</div>
<div class="btn-group mt-2 float-right" role="group">
    <button type="button" class="btn btn-ets-do" [disabled]="this.model.listModelsSelected.length < 2">Save</button>
    <button type="button" class="btn btn-ets-do ml-3">Load</button>
    <!-- <button type="button" class="btn btn-ets-do mr-1" [ngClass]="{'disabled': model.name === undefined || model.version == '0'}" (click)="newPrediction(model.name, model.version)">Predict</button> -->
</div>